doctype 5
html
  head
  title Tournament of Books Tournament of Checklist

  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(rel="stylesheet", href="css/bootstrap-responsive.css")
  link(rel="stylesheet", href="css/bootstrap.css", media="screen")

  script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
  script(type="text/javascript", src="js/index.js")

  style(type="text/css")
    /* Custom container */
    .container-narrow {
      margin: 0 auto;
      max-width: 700px;
    }

    /* Bootstrap Overrides */
    .checkbox {
      padding-left: 30px;
    }
    li > .checkbox input[type="checkbox"] {
      margin-top: 9px;
    }
    a {
      float: right;
    }
    footer {
      border-top: 1px solid #999;
      margin: 60px auto 0;
      padding-top: 15px;
      text-align: center;
      width: 60%;
    }
    input[type="checkbox"]:checked + p {
      text-decoration: line-through;
    }
    h1 {
      margin: 30px 0;
      text-align: center;
    }
    h1 a {
      float: none;
    }
    li > label {
      line-height: 30px;
    }
    li {
      clear: both;
      height: 30px;
      line-height: 30px;
      padding-right: 10px;
    }
    li:nth-child(even) {
      background: #eee;
    }
    p {
      float: left;
      margin: 0;
    }
    ul {
      margin: 0 auto 40px;
      list-style-type: none;
      width: 400px;
    }


body
  h1
    a(href="http://www.themorningnews.org/article/announcing-the-2013-tournament-of-books") Tournament of Books 2013 Checklist
  div#main.container-narrow
    ul
      for item in list
        include book

  footer
    | This site is not affiliated with The Morning News; the creator just likes to read a lot.
    br
    | All rights belong to their respective owners.
